@CHARSET "UTF-8";

.sidebard-panel .feed-element,
.media-body,
.sidebard-panel p {
  font-size: 13px;
}
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts{
	width:210px;
}
.page-heading {
    border-top: 0 none;
    padding: 0 10px 10px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	padding: 1px;
	
}
.k-grid td {
	padding-left: 5px;
}
.k-grid{
	 border: 1px solid #dfdfdf;
}
.listCheckbox{
	padding-left: 3px;
}

.float-e-margins .btn {
    margin-bottom: 0;
}
.ibox-content {
 
    padding: 5px 20px 0px;
}
.inmodal .modal-header {
    padding: 10px;
    text-align: center;
}
.inmodal .modal-title {
    font-size: 20px;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 5px;
    text-align: right;
}
.form-group {
    margin-bottom: 0px;
}
.padding5{
	padding: 5px;
}
.nav > li > a {
    font-weight: normal;
}
.dataTables_wrapper {
    padding-bottom: 0;
}
.ibox {
    clear: both;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.lableDropdownList{
	padding:5px;
}
.lableText{
	padding:5px;
}
.lableDropdownList {
    padding: 8px;
    text-align: right;
}
.ibox-title{
	border-width: 1px 0 0;
}
.modal-body {
    padding: 5px 30px 30px;
}
.nav.navbar-top-links a {
    font-size: 13px;
}

.bgParam{
	padding-bottom:5px;
}
