@CHARSET "UTF-8";
.topMargin{
	margin-top:5px;
}
.topPanelBtn{
	margin-top:10px;
	margin-right: 5px;
}
.titleDate{
	padding:5px;
	font-weight:bold;
	text-align: center;
	border-radius: 2px;
}
.basicSlideArea{
	   padding-top: 5px;
}
.chooseTimeCustomArea{
	width:220px;
	float:left;
	padding:5px;
}
.downloadSettingArea{
	width:auto;
	float:right;
	padding:0px;
	margin-left: 5px;
}

.setTimeCustomArea{
	float:right;
}
.setTimeCustomArea .doubleLeftArea{
	float:left;
	width:auto;
}
.setTimeCustomArea .textSetTime{
	float:left;
	width:42px;
	float:left;
	margin-left:2px;
	margin-right:2px;
}
.setTimeCustomArea .doublerightArea{
	float:left;
	width:auto;
}
.lineChartArea{
	float:left;
	width:100%;
}
.listPointLeftArea{
	float:left;
	width:200px;
}
.fontSize10{
	font-size:10px;
}
.valuePoint{
	font-size:16px;
	font-weight:bold;
	margin-left:2px;
	padding-left: 0;
    padding-right: 0;
}
.planPoint{
	font-size:16px;
	font-weight:bold;
	padding-left: 0;
    padding-right: 0;
    text-align:right;
}
.col-padding0{
	padding-left: 0;
    padding-right: 15px;
}
.checkboxFooter{
	width:170px;
	float:left;
}
.showPointAll{
	width:140px;
}



.list-group.clear-list .list-group-item {

    padding: 2px 0;
}
.topParam{
	padding:7px;
	margin-bottom:5px;
}
.tabs-container .panel-body {
	padding: 10px 20px 20px;
}
.btnPlus{
	font-size:16px;
}
.dropdown-menu {
	 left: -350px;
	 margin:5px;
	 padding:5px;

	}
.widthScaleTime{
	
	width:350px;
	
}
.form-control, .single-line{
	 padding: 2px;
}
.titleScale{
	margin-bottom:5px;
}
.textAlign{
	text-align:right;
}
.rowTopBottomMargin{
	margin-top:2px;
	margin-bottom:5px;
}
#labelTitle{
	float:left;
	
}
#setEvent{
	float:right;
	width:50px;
	text-align:right;
}
table{
	font-size:13px;
}
